In [5]:
#50
import numpy as np
import pandas as pd 
from sklearn import tree
cars=pd.read_excel('Book.xlsx')
cars.head()

   id student  age     daramad top_x hired
0   1       Y   12    depended     Y     y
1   2       N    2    depended     N     n
2   3       N   28  independed     N     n
3   4       Y    9    depended     Y     y
4   5       Y    8    depended     N     y

In [6]:

daramaddic={'depended':0,'independed':1,'retired':2}
cars['daramad']=cars['daramad'].map(daramaddic)
yes_or_no={'Y':1,'N':0}
yes_or_no1={'Y':1,'N':0}
cars['student']=cars['student'].map(yes_or_no)
y_o_n={'y':1,'n':0}
cars['top_x']=cars['top_x'].map(yes_or_no1)
cars['hired']=cars['hired'].map(y_o_n)
cars

   id  student  age  daramad  top_x  hired
0   1        1   12        0      1      1
1   2        0    2        0      0      0
2   3        0   28        1      0      0
3   4        1    9        0      1      1
4   5        1    8        0      0      1
5   6        0   25        1      1      0
6   7        1    8        0      1      0
7   8        1    9        0      0      1
8   9        0   40        2      1      0
9  10        0    5        0      1      0

In [7]:
feachres=list(cars.columns[1:5])
print(feachres)

['student', 'age', 'daramad', 'top_x']

In [8]:
x=cars[feachres]
# x=np.array(x)
y=cars['hired']
model=tree.DecisionTreeClassifier()
model=model.fit(x,y)
print(model.predict([[0,2,0,0]]))

[0]

C:\Users\Asus\AppData\Roaming\Python\Python310\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [9]:
#53 
# from IPython.display import Image
# from six import StringIO
# import pydotplus
# out_data=StringIO()
# tree.export_graphviz(model,out_file=out_data,feature_names=feachres)
# graph = pydotplus.graph_from_dot_data(out_data.getvalue())  
# graph.write_png('E:aks.png',)
import os
import pydotplus
from sklearn.tree import export_graphviz

os.environ['PATH'] = os.environ['PATH']+';' + r'C:\Users\Admin\Anaconda3\Library\bin\graphviz'

# first export the dot file only if needed
filename='decsiotree'
export_graphviz(model, out_file=filename + ".dot", feature_names = feachres)
# now generate the dot_data again
dot_data = export_graphviz(model, out_file=None, feature_names =  feachres)
graph = pydotplus.graphviz.graph_from_dot_data(dot_data)
graph.write_png(filename + "_gv.png")

True

In [13]:
#54
from sklearn.ensemble import RandomForestClassifier
clf=RandomForestClassifier(n_estimators=10)
clf=clf.fit(x,y)
print(clf.predict([[1,9,0,0]]))

[1]

C:\Users\Asus\AppData\Roaming\Python\Python310\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [ ]:
#